# main.yml

# Workflow's name
name: Build Electron App For Win/Mac/Ubuntu

# Workflow's trigger
on:
  push:
    tags:
      - "v*.*.*"

# Workflow's jobs
jobs:
  # job's id
  release:
    # job's name
    name: build and release electron app

    # the type of machine to run the job on
    runs-on: ${{ matrix.os }}

    # create a build matrix for jobs
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]

    # create steps
    steps:
      # step1: check out repository
      - name: Check out git repository
        uses: actions/checkout@v2

      # step2: install node env
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: "yarn"

      # step3: yarn install
      - name: yarn install
        run: |
          yarn install --frozen-lockfile

      # step4: build app for mac/win/ubuntu
      - name: build windows app
        run: |
          yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # step5: cleanup artifacts in dist/electron
      - name: cleanup artifacts for windows
        if: matrix.os == 'windows-latest'
        run: |
          npx rimraf "dist/electron/!(*.exe)"

      - name: cleanup artifacts for ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: |
          npx rimraf "dist/electron/!(*.deb)"

      - name: cleanup artifacts for macos
        if: matrix.os == 'macos-latest'
        run: |
          npx rimraf "dist/electron/!(*.dmg)"

      # step6: upload artifacts
      - name: upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }}
          path: dist/electron

      # step7: create release
      - name: release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: "dist/electron/**"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
